<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
  <%if admin?%>
    <li class="<%=active_class("users")%>">
      <%= link_to "用户管理",users_path%>
    </li>
    <%end%>
    <li class="<%=active_class("products_info")%>">
      <%= link_to "产品信息管理",products_info_index_path%>
    </li>
  </ul>
  <ul class="nav nav-sidebar">
    <li class="<%=active_class("serial")%>">
      <%= link_to "产品系列名管理",serial_index_path%>
    </li>
    <li class="<%=active_class("dealers")%>"><%= link_to "经销商管理",dealers_path%></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li class="<%=active_class("tags")%>">
      <%= link_to "标签管理",tags_path%>
    </li>
  </ul>
</div>
