<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
  <%if admin?%>
    <li class="<%=active_class("users")%>">
      <%= link_to "用户管理",users_path%>
    </li>
    <%end%>
  </ul>
  <ul class="nav nav-sidebar">
    <li class="<%=active_class("groupon_products")%>">
      <%= link_to "商户商品管理",groupon_products_path%>
    </li>
    <li class="<%=active_class("gaccounts")%>">
      <%= link_to "Groupon 商户管理",gaccounts_path%>
    </li>
  </ul>
</div>
